# Secret Keys
Secrets.xcconfig        

# Xcode
*.xcuserstate           
xcuserdata/             
*.xcworkspace/xcuserdata/

# macOS
.DS_Store               

# CocoaPods
Pods/                  

# Build
build/                  
DerivedData/            
Top-League.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Top-League.xcodeproj/project.xcworkspace/xcuserdata/jetsmobilelabmini6.xcuserdatad/UserInterfaceState.xcuserstate
